@font-face {
  font-family: 'Tratex';
  src: url('fonts/tratex.woff2') format('woff2');
}

@font-face {
  font-family: 'TratexVit';
  src: url('fonts/tratex-vit.woff') format('woff');
}

@font-face {
  font-family: 'TratexNew';
  src: url('fonts/tratex-new.woff2') format('woff2');
}

@font-face {
  font-family: 'TratexVersal';
  src: url('fonts/tratex-versal.woff2') format('woff2');
}

@font-face {
  font-family: 'Transport';
  src: url('fonts/transport-heavy.woff2') format('woff2');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1 {
  font-family: TratexVersal;
  text-transform: uppercase;
  /*font-size: clamp(1rem, )2rem;*/
  font-size: 1.4rem;
  /*font-size: 4vw;*/
}

body {
  width: 100%;
  font-family: sans-serif;
  /*background-color: #EADAD0;*/
}

li {
  list-style: none;
}

.h1-collapse {
  display: none;
}

/* @media screen and (min-width: 650px) {
  .h1-collapse {
    display: inline;
  }

} */




header {
  width: 100%;
  height: fit-content;
  /* background-color: black; */
  max-width: 1000px;
  margin: 0 auto;
}

.red {
  background-color: #F70829;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.road-sign-outer {
  width: 100%;
  height: auto;
  padding: 0.3rem;
}

.road-sign-inner {
  background-color: #FFBD31;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 3.2rem;
}

.snow-logo {
  width: 3rem;
  display: inline;
}

/* Hamburger menu */

.mobile-menu-button {
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  /*padding-top: 30px;*/
}

.close-button {
  margin: 0.5rem;
  display: none;
}

.hamburger svg, .close-button svg {
  width: 100%;
  height: 100%;
}

.mobile-menu-button:hover, {
  cursor: pointer;
}

/*.hamburger::after, .hamburger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: green;
}

.hamburger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  top: 20px;
  background-color: white;
} */

button {
  border: none;
  background-color: none;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 18%;
  background-color: black;
}

.road-sign-inner .desktop-nav {
  display: none;
}

header .desktop-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .desktop-nav ul li {
  margin-right: 2rem;
  font-size: 1.4rem;
  font-family: degular, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

header .desktop-nav ul li:last-of-type  {
  margin: 0;
}


@media screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }
  
  .road-sign-inner .desktop-nav {
    display: block;
  }

  
}

.flag {
  font-size: 2rem;
}

.mobile-menu {
  margin: 0.5rem 1rem;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.road-sign-mobile {
  width: 100%;
  height: fit-content;
  font-family: TratexVit;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.brown-sign {
  background-color: #7A4A00;
  color: white;
}

.blue {
  background-color: #005596;
}

.yellow-sign {
  background-color: #FFD204;
  color: black;
}


.road-sign-outer-mobile {
  width: fit-content;
  flex: auto;
  padding: 0.2rem;
  margin: 0.3rem;
  border: 1px solid transparent;
}

.english-sign {
  font-family: Transport;
  background-color: white;
  color: black;
  letter-spacing: 0.1rem;
}

.white-bg-sign {
  background-color: white;
  border: 1px solid lightgray;
}

.mobile-nav {
  display: none;
}

.block {
  display: block;
}

.hidden {
  display: none;
}



















